@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-gray-50 text-gray-800;
}

/* small helpers */
.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 640px) {
    body {
        font-size: 15px
    }
}